<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}
=======
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;
}
h1 {
    color: #333;
}
>>>>>>> 73cf77b9acceca6565033536aa40d089dc0ff166
